body {
  font-size: 16px;
  color: #fff;
  background-color: coral;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #92a8d1;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 75px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: -30px;
  margin-bottom: 0;
  line-height: .100;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#our-menu {
    margin-top: 5px;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  background-color:#deeecd  ;
  margin-top: 30px;
  padding: 0;
  /*height: 1000px;*/
}
#chicken{
    font-size: 23px;
    color: black;
    padding: 3px;
        
  }
#sectioncont {
    /* margin: 40px 10px 10px 10px; */
    margin: 10px 10px 10px 10px; 
    clear: right;  
    overflow: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  } 
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 60px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  } 
    
  /* End Header */

 }